* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  background: #1e1e2e;
  color: #57BEF3;
}

#workspaces button {
  color: #5e6270;
  margin-right: 5px;
}

#workspaces button.active,
#workspaces button.focused {
  color: #cdd6f4;
}

#custom-powermenu,
#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#window {
  padding-right: 30px;
}

#battery.charging,
#battery.plugged {
  color: #96ebb1;
}

#battery.critical:not(.charging) {
  color: #c25555;
}
